{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block content %}

<section class="page-section">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 page-title">{% trans "Log In" %}</h2>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <p>{% blocktrans %}If you haven't joined the club yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      </div>
      <div class="form-floating mb-3 col-lg-8">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="primaryAction col-sm-2 btn btn-primary btn-input" type="submit">{% trans "Log In" %}</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}