{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log Out" %}{% endblock %}

{% block content %}

<section class="page-section">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 page-title">{% trans "Log Out" %}</h2>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <p>{% trans 'Are you sure you want to log out?' %}</p>
      </div>
      <div class="form-floating mb-3 col-lg-8">
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button type="submit" class="col-sm-2 btn btn-primary btn-input">{% trans 'Log Out' %}</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}