/* personal style decisions not from bootstrap template */

/* overall style */
.page-section {
  padding-top: 7rem;
}

html, body {
  height: 100%;
}

.page-title {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.btn-input {
  margin: 1rem;
  width: 12rem;
}

#msg {
  margin-top: 6rem;
  margin-bottom: 0;
  padding-bottom: 2px;
}

/* index.html */
#header {
  padding-bottom: 3rem;
}

#title {
  padding-top: 2rem;
}

#headerdiv {
  position: relative;
  text-align: center;
  color: #2c3e50;
}

#heroimg {
  width: 95vw;
}

#about {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#about-text {
  padding-bottom: 2rem;
}

/* events.html */
.event-card {
  width: 25vw;
}

#map {
    height: 40vh;
    margin-bottom: 1rem;
}

/* manage.html */
.btn-manage {
  width: 10rem;
  margin-top: 1rem;
  display: block;
}

/* media queries */
@media screen and (max-width: 1024px) {
  #map {
    height: 30vh;
  }
  .event-card {
    width: 40vw;
  }
  .manage-card {
    width: 35vw;
  }
}

@media screen and (max-width: 768px) {
  .event-card {
    width: 50vw;
  }
  .manage-card {
    width: 60vw;
  }
}

@media screen and (max-width: 540px) {
  .event-card {
    width: 75vw;
  }
  .manage-card {
    width: 75vw;
  }
  .btn-manage {
    width: 7rem;
  }
}