/* personal style decisions not from bootstrap template */

/* overall style */
.page-section {
  padding-top: 7rem;
}

html, body {
  height: 100%;
}

.page-title {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.btn-input {
  margin: 1rem;
}

/* index.html */
#header {
  padding-bottom: 3rem;
}

#title {
  padding-top: 2rem;
}

#headerdiv {
  position: relative;
  text-align: center;
  color: #2c3e50;
}

#heroimg {
  width: 95vw;
}

#about {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#about-text {
  padding-bottom: 2rem;
}

/* events.html */

#map {
    height: 40vh;
  }