{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
        Contact Us
    </h2>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <p>Want to get in touch? Fill out the form and we'll get back to you as soon as we finish our run!</p>
        </div>
        <div class="form-floating mb-3 col-lg-8">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">First name</label>
        </div>
        <div class="form-floating mb-3 col-lg-8">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Last name</label>
        </div>
        <div class="form-floating mb-3 col-lg-8">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating col-lg-8">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height: 100px"></textarea>
            <label for="floatingTextarea2">Message</label>
        </div>
    </div>

</div>

{% endblock %}