{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<section class="page-section">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 page-title">
        Edit your run
        </h2>

        {% if user.is_authenticated %}
        <!-- display (form?) content to book a run -->
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <p>Edit you run with us!</p>
                    <p>Remember, we do a different run on each of our days:</p>
                    <ul>
                        <strong>
                            <li>Tuesday = beginner</li>
                            <li>Thursday = push yourself</li>
                            <li>Saturday = intermediate</li>
                        </strong>
                    </ul>
                    <form method="POST" style="margin-top: 1.3em;">
                        {{ edit_booking_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn">Confirm edit</button>
                    </form>
                </div>
            </div>
        {% else %}
            <!-- prompt to sign up or login, with links -->
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <p>To join us on one of our runs you need to be a member.</p>
                    <p>Please either <a href="{% url 'account_login' %}">log in</a> to your account</p>
                    <p>or <a href="{% url 'account_signup' %}">become a member</a> to book a run</p>
                </div>
            </div>
        {% endif %}
    </div>
</section>


{% endblock %}